<div class="top-row">
    <a class="navbar-brand" href="">Semantic Components Demo</a>
</div>

<div>
    <ul class="">
        <li class="nav-item">
            <NavLink class="" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="" href="buttons">
                <span class="oi oi-plus" aria-hidden="true"></span> Button
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="" href="flags">
                <span class="oi oi-plus" aria-hidden="true"></span> Flags
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="" href="icons">
                <span class="oi oi-plus" aria-hidden="true"></span> Icons
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="" href="containers">
                <span class="oi oi-plus" aria-hidden="true"></span> Containers
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="" href="labels">
                <span class="oi oi-plus" aria-hidden="true"></span> Labels
            </NavLink>
        </li>
    </ul>
</div>