@page "/buttons"
@using QD.Components.Semantic.Enums
@using QD.Components.Semantic.Enums.Button

<h1>Buttons</h1>

<h2>Normal Button</h2>
<Button>Click on me</Button>

<h2>Primary/Secondary Button</h2>
<Button primary>Primary</Button>
<Button secondary>Secondary</Button>

<h2>Animated Button</h2>
<Button animated="@Animation.Horizontal">
    <ButtonContent visible>1</ButtonContent>
    <ButtonContent hidden>2</ButtonContent>
</Button>
<Button animated="@Animation.Vertical" primary>
    <ButtonContent visible>1</ButtonContent>
    <ButtonContent hidden>2</ButtonContent>
</Button>
<Button animated="@Animation.Fade" secondary>
    <ButtonContent visible>1</ButtonContent>
    <ButtonContent hidden>2</ButtonContent>
</Button>
