@page "/flags"
@using Flag = QD.Components.Semantic.Enums.Flag

<h1>Flags</h1>

<table class="ui table">
    <thead class="">
        <tr class="">
            <th class="">Country</th>
            <th class="">Name</th>
            <th class="">Country Code</th>
            <th class="">Alias</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Country country in _countries)
        {
            Flag flag = Utils.GetEnum<Flag>(country.CountryCode);
            <tr>
                <td><Flag name="@flag"/></td>
                <td>@country.Name</td>
                <td>@country.CountryCode</td>
                <td>@country.Alias</td>
            </tr>
        }
    </tbody>
</table>


@code
{

    private struct Country
    {
        public string Name { get; set; }
        public string CountryCode { get; set; }
        public string Alias { get; set; }
    }

    readonly Country[] _countries = {
        new Country { Name = "Afghanistan", CountryCode = "af" },
        new Country { Name = "Aland Islands", CountryCode = "ax" },
        new Country { Name = "Albania", CountryCode = "al" },
        new Country { Name = "Algeria", CountryCode = "dz" },
        new Country { Name = "American Samoa", CountryCode = "as" },
        new Country { Name = "Andorra", CountryCode = "ad" },
        new Country { Name = "Angola", CountryCode = "ao" },
        new Country { Name = "Anguilla", CountryCode = "ai" },
        new Country { Name = "Antigua", CountryCode = "ag" },
        new Country { Name = "Argentina", CountryCode = "ar" },
        new Country { Name = "Aruba", CountryCode = "aw" },
        new Country { Name = "Armenia", CountryCode = "am" },
        new Country { Name = "Australia", CountryCode = "au" },
        new Country { Name = "Austria", CountryCode = "at" },
        new Country { Name = "Azerbaijan", CountryCode = "az" },
        new Country { Name = "Bahamas", CountryCode = "bs" },
        new Country { Name = "Bahrain", CountryCode = "bh" },
        new Country { Name = "Bangladesh", CountryCode = "bd" },
        new Country { Name = "Barbados", CountryCode = "bb" },
        new Country { Name = "Belarus", CountryCode = "by" },
        new Country { Name = "Belgium", CountryCode = "be" },
        new Country { Name = "Belize", CountryCode = "bz" },
        new Country { Name = "Benin", CountryCode = "bj" },
        new Country { Name = "Bermuda", CountryCode = "bm" },
        new Country { Name = "Bhutan", CountryCode = "bt" },
        new Country { Name = "Bolivia", CountryCode = "bo" },
        new Country { Name = "Bosnia", CountryCode = "ba" },
        new Country { Name = "Botswana", CountryCode = "bw" },
        new Country { Name = "Bouvet Island", CountryCode = "bv" },
        new Country { Name = "Brazil", CountryCode = "br" },
        new Country { Name = "British Virgin Islands", CountryCode = "vg" },
        new Country { Name = "Brunei", CountryCode = "bn" },
        new Country { Name = "Bulgaria", CountryCode = "bg" },
        new Country { Name = "Burkina Faso", CountryCode = "bf" },
        new Country { Name = "Burma", CountryCode = "mm", Alias = "Myanmar" },
        new Country { Name = "Burundi", CountryCode = "bi" },
        new Country { Name = "Caicos Islands", CountryCode = "tc" },
        new Country { Name = "Cambodia", CountryCode = "kh" },
        new Country { Name = "Cameroon", CountryCode = "cm" },
        new Country { Name = "Canada", CountryCode = "ca" },
        new Country { Name = "Cape Verde", CountryCode = "cv" },
        new Country { Name = "Cayman Islands", CountryCode = "ky" },
        new Country { Name = "Central African Republic", CountryCode = "cf" },
        new Country { Name = "Chad", CountryCode = "td" },
        new Country { Name = "Chile", CountryCode = "cl" },
        new Country { Name = "China", CountryCode = "cn" },
        new Country { Name = "Christmas Island", CountryCode = "cx" },
        new Country { Name = "Cocos Islands", CountryCode = "cc" },
        new Country { Name = "Colombia", CountryCode = "co" },
        new Country { Name = "Comoros", CountryCode = "km" },
        new Country { Name = "Congo", CountryCode = "cd" },
        new Country { Name = "Congo Brazzaville", CountryCode = "cg" },
        new Country { Name = "Cook Islands", CountryCode = "ck" },
        new Country { Name = "Costa Rica", CountryCode = "cr" },
        new Country { Name = "Cote Divoire", CountryCode = "ci" },
        new Country { Name = "Croatia", CountryCode = "hr" },
        new Country { Name = "Cuba", CountryCode = "cu" },
        new Country { Name = "Cyprus", CountryCode = "cy" },
        new Country { Name = "Czech Republic", CountryCode = "cz" },
        new Country { Name = "Denmark", CountryCode = "dk" },
        new Country { Name = "Djibouti", CountryCode = "dj" },
        new Country { Name = "Dominica", CountryCode = "dm" },
        new Country { Name = "Dominican Republic", CountryCode = "do" },
        new Country { Name = "Ecuador", CountryCode = "ec" },
        new Country { Name = "Egypt", CountryCode = "eg" },
        new Country { Name = "El Salvador", CountryCode = "sv" },
        new Country { Name = "Equatorial Guinea", CountryCode = "gq" },
        new Country { Name = "Eritrea", CountryCode = "er" },
        new Country { Name = "Estonia", CountryCode = "ee" },
        new Country { Name = "Ethiopia", CountryCode = "et" },
        new Country { Name = "Europeanunion", CountryCode = "eu" },
        new Country { Name = "Falkland Islands", CountryCode = "fk" },
        new Country { Name = "Faroe Islands", CountryCode = "fo" },
        new Country { Name = "Fiji", CountryCode = "fj" },
        new Country { Name = "Finland", CountryCode = "fi" },
        new Country { Name = "France", CountryCode = "fr" },
        new Country { Name = "French Guiana", CountryCode = "gf" },
        new Country { Name = "French Polynesia", CountryCode = "pf" },
        new Country { Name = "French Territories", CountryCode = "tf" },
        new Country { Name = "Gabon", CountryCode = "ga" },
        new Country { Name = "Gambia", CountryCode = "gm" },
        new Country { Name = "Georgia", CountryCode = "ge" },
        new Country { Name = "Germany", CountryCode = "de" },
        new Country { Name = "Ghana", CountryCode = "gh" },
        new Country { Name = "Gibraltar", CountryCode = "gi" },
        new Country { Name = "Greece", CountryCode = "gr" },
        new Country { Name = "Greenland", CountryCode = "gl" },
        new Country { Name = "Grenada", CountryCode = "gd" },
        new Country { Name = "Guadeloupe", CountryCode = "gp" },
        new Country { Name = "Guam", CountryCode = "gu" },
        new Country { Name = "Guatemala", CountryCode = "gt" },
        new Country { Name = "Guinea", CountryCode = "gn" },
        new Country { Name = "Guinea-Bissau", CountryCode = "gw" },
        new Country { Name = "Guyana", CountryCode = "gy" },
        new Country { Name = "Haiti", CountryCode = "ht" },
        new Country { Name = "Heard Island", CountryCode = "hm" },
        new Country { Name = "Honduras", CountryCode = "hn" },
        new Country { Name = "Hong Kong", CountryCode = "hk" },
        new Country { Name = "Hungary", CountryCode = "hu" },
        new Country { Name = "Iceland", CountryCode = "is" },
        new Country { Name = "India", CountryCode = "in" },
        new Country { Name = "Indian Ocean Territory", CountryCode = "io" },
        new Country { Name = "Indonesia", CountryCode = "id" },
        new Country { Name = "Iran", CountryCode = "ir" },
        new Country { Name = "Iraq", CountryCode = "iq" },
        new Country { Name = "Ireland", CountryCode = "ie" },
        new Country { Name = "Israel", CountryCode = "il" },
        new Country { Name = "Italy", CountryCode = "it" },
        new Country { Name = "Jamaica", CountryCode = "jm" },
        new Country { Name = "Jan Mayen", CountryCode = "sj", Alias = "Svalbard" },
        new Country { Name = "Japan", CountryCode = "jp" },
        new Country { Name = "Jordan", CountryCode = "jo" },
        new Country { Name = "Kazakhstan", CountryCode = "kz" },
        new Country { Name = "Kenya", CountryCode = "ke" },
        new Country { Name = "Kiribati", CountryCode = "ki" },
        new Country { Name = "Kuwait", CountryCode = "kw" },
        new Country { Name = "Kyrgyzstan", CountryCode = "kg" },
        new Country { Name = "Laos", CountryCode = "la" },
        new Country { Name = "Latvia", CountryCode = "lv" },
        new Country { Name = "Lebanon", CountryCode = "lb" },
        new Country { Name = "Lesotho", CountryCode = "ls" },
        new Country { Name = "Liberia", CountryCode = "lr" },
        new Country { Name = "Libya", CountryCode = "ly" },
        new Country { Name = "Liechtenstein", CountryCode = "li" },
        new Country { Name = "Lithuania", CountryCode = "lt" },
        new Country { Name = "Luxembourg", CountryCode = "lu" },
        new Country { Name = "Macau", CountryCode = "mo" },
        new Country { Name = "Macedonia", CountryCode = "mk" },
        new Country { Name = "Madagascar", CountryCode = "mg" },
        new Country { Name = "Malawi", CountryCode = "mw" },
        new Country { Name = "Malaysia", CountryCode = "my" },
        new Country { Name = "Maldives", CountryCode = "mv" },
        new Country { Name = "Mali", CountryCode = "ml" },
        new Country { Name = "Malta", CountryCode = "mt" },
        new Country { Name = "Marshall Islands", CountryCode = "mh" },
        new Country { Name = "Martinique", CountryCode = "mq" },
        new Country { Name = "Mauritania", CountryCode = "mr" },
        new Country { Name = "Mauritius", CountryCode = "mu" },
        new Country { Name = "Mayotte", CountryCode = "yt" },
        new Country { Name = "Mexico", CountryCode = "mx" },
        new Country { Name = "Micronesia", CountryCode = "fm" },
        new Country { Name = "Moldova", CountryCode = "md" },
        new Country { Name = "Monaco", CountryCode = "mc" },
        new Country { Name = "Mongolia", CountryCode = "mn" },
        new Country { Name = "Montenegro", CountryCode = "me" },
        new Country { Name = "Montserrat", CountryCode = "ms" },
        new Country { Name = "Morocco", CountryCode = "ma" },
        new Country { Name = "Mozambique", CountryCode = "mz" },
        new Country { Name = "Namibia", CountryCode = "na" },
        new Country { Name = "Nauru", CountryCode = "nr" },
        new Country { Name = "Nepal", CountryCode = "np" },
        new Country { Name = "Netherlands", CountryCode = "nl" },
        new Country { Name = "Netherlandsantilles", CountryCode = "an" },
        new Country { Name = "New Caledonia", CountryCode = "nc" },
        new Country { Name = "New Guinea", CountryCode = "pg" },
        new Country { Name = "New Zealand", CountryCode = "nz" },
        new Country { Name = "Nicaragua", CountryCode = "ni" },
        new Country { Name = "Niger", CountryCode = "ne" },
        new Country { Name = "Nigeria", CountryCode = "ng" },
        new Country { Name = "Niue", CountryCode = "nu" },
        new Country { Name = "Norfolk Island", CountryCode = "nf" },
        new Country { Name = "North Korea", CountryCode = "kp" },
        new Country { Name = "Northern Mariana Islands", CountryCode = "mp" },
        new Country { Name = "Norway", CountryCode = "no" },
        new Country { Name = "Oman", CountryCode = "om" },
        new Country { Name = "Pakistan", CountryCode = "pk" },
        new Country { Name = "Palau", CountryCode = "pw" },
        new Country { Name = "Palestine", CountryCode = "ps" },
        new Country { Name = "Panama", CountryCode = "pa" },
        new Country { Name = "Paraguay", CountryCode = "py" },
        new Country { Name = "Peru", CountryCode = "pe" },
        new Country { Name = "Philippines", CountryCode = "ph" },
        new Country { Name = "Pitcairn Islands", CountryCode = "pn" },
        new Country { Name = "Poland", CountryCode = "pl" },
        new Country { Name = "Portugal", CountryCode = "pt" },
        new Country { Name = "Puerto Rico", CountryCode = "pr" },
        new Country { Name = "Qatar", CountryCode = "qa" },
        new Country { Name = "Reunion", CountryCode = "re" },
        new Country { Name = "Romania", CountryCode = "ro" },
        new Country { Name = "Russia", CountryCode = "ru" },
        new Country { Name = "Rwanda", CountryCode = "rw" },
        new Country { Name = "Saint Helena", CountryCode = "sh" },
        new Country { Name = "Saint Kitts and Nevis", CountryCode = "kn" },
        new Country { Name = "Saint Lucia", CountryCode = "lc" },
        new Country { Name = "Saint Pierre", CountryCode = "pm" },
        new Country { Name = "Saint Vincent", CountryCode = "vc" },
        new Country { Name = "Samoa", CountryCode = "ws" },
        new Country { Name = "San Marino", CountryCode = "sm" },
        new Country { Name = "Sandwich Islands", CountryCode = "gs" },
        new Country { Name = "Sao Tome", CountryCode = "st" },
        new Country { Name = "Saudi Arabia", CountryCode = "sa" },
        new Country { Name = "Scotland", CountryCode = "gb sct" },
        new Country { Name = "Senegal", CountryCode = "sn" },
        new Country { Name = "Serbia", CountryCode = "cs" },
        new Country { Name = "Serbia", CountryCode = "rs" },
        new Country { Name = "Seychelles", CountryCode = "sc" },
        new Country { Name = "Sierra Leone", CountryCode = "sl" },
        new Country { Name = "Singapore", CountryCode = "sg" },
        new Country { Name = "Slovakia", CountryCode = "sk" },
        new Country { Name = "Slovenia", CountryCode = "si" },
        new Country { Name = "Solomon Islands", CountryCode = "sb" },
        new Country { Name = "Somalia", CountryCode = "so" },
        new Country { Name = "South Africa", CountryCode = "za" },
        new Country { Name = "South Korea", CountryCode = "kr" },
        new Country { Name = "Spain", CountryCode = "es" },
        new Country { Name = "Sri Lanka", CountryCode = "lk" },
        new Country { Name = "Sudan", CountryCode = "sd" },
        new Country { Name = "SuriName", CountryCode = "sr" },
        new Country { Name = "Swaziland", CountryCode = "sz" },
        new Country { Name = "Sweden", CountryCode = "se" },
        new Country { Name = "Switzerland", CountryCode = "ch" },
        new Country { Name = "Syria", CountryCode = "sy" },
        new Country { Name = "Taiwan", CountryCode = "tw" },
        new Country { Name = "Tajikistan", CountryCode = "tj" },
        new Country { Name = "Tanzania", CountryCode = "tz" },
        new Country { Name = "Thailand", CountryCode = "th" },
        new Country { Name = "Timorleste", CountryCode = "tl" },
        new Country { Name = "Togo", CountryCode = "tg" },
        new Country { Name = "Tokelau", CountryCode = "tk" },
        new Country { Name = "Tonga", CountryCode = "to" },
        new Country { Name = "Trinidad", CountryCode = "tt" },
        new Country { Name = "Tunisia", CountryCode = "tn" },
        new Country { Name = "Turkey", CountryCode = "tr" },
        new Country { Name = "Turkmenistan", CountryCode = "tm" },
        new Country { Name = "Tuvalu", CountryCode = "tv" },
        new Country { Name = "U.A.E.", CountryCode = "ae", Alias = "United Arab Emirates" },
        new Country { Name = "Uganda", CountryCode = "ug" },
        new Country { Name = "Ukraine", CountryCode = "ua" },
        new Country { Name = "United Kingdom", CountryCode = "gb", Alias = "uk" },
        new Country { Name = "United States", CountryCode = "us", Alias = "America" },
        new Country { Name = "Uruguay", CountryCode = "uy" },
        new Country { Name = "US Minor Islands", CountryCode = "um" },
        new Country { Name = "US Virgin Islands", CountryCode = "vi" },
        new Country { Name = "Uzbekistan", CountryCode = "uz" },
        new Country { Name = "Vanuatu", CountryCode = "vu" },
        new Country { Name = "Vatican City", CountryCode = "va" },
        new Country { Name = "Venezuela", CountryCode = "ve" },
        new Country { Name = "Vietnam", CountryCode = "vn" },
        new Country { Name = "Wales", CountryCode = "gb wls" },
        new Country { Name = "Wallis and Futuna", CountryCode = "wf" },
        new Country { Name = "Western Sahara", CountryCode = "eh" },
        new Country { Name = "Yemen", CountryCode = "ye" },
        new Country { Name = "Zambia", CountryCode = "zm" },
        new Country { Name = "Zimbabwe", CountryCode = "zw" }
    };

}
